form#xmltool-form{


  label{
    float: left;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bolder;
  }

  textarea{
    width: 99%;
    display: block;
  }

  ._comment{
    display: none;
  }

  .btn-comment{
    display: inline-block;
    margin: 4px 0 0 5px;
    font-size: 11px;
    cursor: pointer;
    color: #999;
    float: right;
    font-weight: normal;

    &.has-comment{
      color: orange;
    }
  }
  fieldset{
    legend .comment-button{
      margin-top: 2px;
    }
  }

  fieldset{
    margin-top: 30px;
    position: relative;
    background-color: white;
    border: 1px dotted #CCC;
    padding: 5px;

    legend{
      width: auto;
      display: block;
      padding: 0px 10px;
      border: 1px solid #CCC;
      border-width: 1px 1px 0 1px;
      position: absolute;
      top: -20px;
      background-color: inherit;
      font-size: 14px;
      font-weight: bolder;
      color: #333;
      height: 19px;
      margin: 0px;
      line-height: 16px;
    }
  }

  .btn-delete,
  .btn-delete-list,
  .btn-delete-fieldset,
  .delete-button,
  .fieldset-delete-button,
  .growing-delete-button,
  .growing-fieldset-delete-button
  {
    background: url(/static/images/edit-delete.png) no-repeat;
    text-indent: -5000px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: none;
    margin: 2px 0 0 5px;
    cursor: pointer;
    float: right;
  }

  .delete-button,
  .growing-delete-button{
    margin-top: 5px;
  }


  fieldset legend{
    .btn-comment{
      margin-left: 20px;
      float: none;
    }
    .btn-delete,
    .btn-delete-list,
    .btn-delete-fieldset,
    .delete-button,
    .fieldset-delete-button,
    .growing-delete-button,
    .growing-fieldset-delete-button{
      float: none;
      margin-left: 10px;
    }
  }

  .container.inline,
  .container.growing-source{
    display: inline;
  }

  ._attrs{
    display: none !important;
  }

  .hidden{
    display: none;
  }

  .deleted{
    display: none;
  }
  .empty{
    display: none;
  }

  .growing-source > :not(.growing-add-button){
    display: none;
  }

  input[type="submit"]{
    display: none;
  }

  .btn{
    padding: 1px 4px;
    font-size: 11px;
    line-height: 15px;
    width: auto;
    height: auto;
  }

}
